body {
  font-size: 18px;
}
body.blog {
  background-color: #fff;
}

#blog {
  padding-top: 15px;
}
#breadcrumb {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 16px;
  text-transform: uppercase;
}
#blog #breadcrumb {
  margin: 0 auto;
}

#title {
  text-align: center;
}
#title h1 {
  margin: 0;
  padding: 8% 0;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 24px;
}

#content {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 33vh;
}

.post-preview {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 4%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
a.post-preview:hover {
  color: #fff;
  background-color: #97e7ff;
}
.post-preview img {
  max-width: 33%;
  margin-right: 32px;
  float: left;
}
.post-preview h3 {
  margin: 0 0 14px;
}
footer {
  min-height: 40%;
}

#body {
  padding: 15px 0 120px;
}
#blog-post {
  max-width: 750px;
  padding: 75px;
  margin: 5% 0 15%;
  margin: 0 auto;
  border-radius: 4px;
}
@media (max-width: 750px) {
  #blog-post {
    padding: 50px;
  }
}
.paragraph {
  margin: 60px 0;
}
.article-body p {
  max-width: 650px;
  margin: 20px 0;
  line-height: 1.58;
  word-wrap: break-word;
}
.article-body ul {
  margin: 5px 0;
}
.article-body li {
  list-style-type: circle;
}
.bold-text, p.bold-text {
  margin: 0 0 9px;
  font-weight: 600;
  color: #444;
}
.small-bold-text, p.small-bold-text {
  margin: 0 0 9px;
  font-weight: 600;
  color: #555;
}
.article-body a {
  border-bottom: 1px solid #5a5959;
}
.article-body a:hover {
  border-bottom: 1px solid #00AFF0;
}
.article-body img {
  max-width: 100%;
  margin: 20px 0;
}
.article-body .image-wrap {
  display: block;
  text-align: center;
}
.article-body img.small {
  width: 40%;
}
.caption, p.caption {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

.article-heading {
  max-width: 650px;
  text-align: center;
}
@media (max-width: 430px) {
  .article-heading {
    margin-top: 50px;
  }
}
.article-title {
  margin: 30px 0;
}

.article-info {
  margin: 0;
  font-size: 14px;
  color: #7a7a7a;
}

.image {
  width: 100%;
  margin: 60px 0 30px;
}
li {
  padding: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 600px) {
  table {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
td {
  padding: 4px;
  border: 1px solid #ccc;
}
.data-right, .quantity, .pricePaid, .priceNow, .totalGainD, .totalGainP {
  text-align: right;
}

@media (max-width: 700px) {
  .post-preview img {
    max-width: 66%;
    display: block;
    margin: 0 auto;
    float: none;
  }
  .post-preview h3 {
    margin: 14px 0;
  }
}
@media (max-width: 620px) {
  .post-preview img {
  }
}
@media (max-width: 430px) {
  #body {
    padding: 0;
  }
  #breadcrumb {
    margin: 0;
    padding: 4%;
    font-size: 14px;
  }
  #title, .article-heading {
    text-align: left;
  }
  #title h1 {
    padding: 8% 4%;
  }
  .post-preview {
    width: 100%;
  }
  .post-preview img {
    max-width: 100%;
  }
  #blog-post {
    width: 100%;
    padding: 4%;
  }
  .article-title{
    margin: 0 0 4%;
  }
  .image {
    margin: 12% 0 0;
  }
  .article-body p {
    margin: 12% 0;
  }
  .article-body img.small {
    width: 100%;
  }
  #article .bold-text {
  }
}