# 301 Permanent Redirects
Redirect 301 /img/kristian_windsor.jpg /about/kristian-windsor-profile-photo.jpg
Redirect 301 /img/devops_infinity_loop.png /experience/devops-infinity-loop.png
Redirect 301 /img/devops_radio.png /experience/devops-radio.png
Redirect 301 /img/devops-world-2020.png /experience/devops-world-2020.png
Redirect 301 /img/libdib.jpeg /experience/libdib-logo.png
Redirect 301 /img/pinger-devops-engineer.png /experience/pinger-devops-engineer.png
Redirect 301 /img/pinger-software-engineer-intern.png /experience/pinger-software-engineer-intern.png
Redirect 301 /img/pinger-software-engineer.png /experience/pinger-software-engineer.png
Redirect 301 /img/citethis.png /websites/citethis-screenshot.png
Redirect 301 /img/passgen.png /websites/password-generator-screenshot.png
Redirect 301 /portfolio/ /websites/
Redirect 301 /portfolio/citethis-screenshot.png /websites/citethis-screenshot.png
Redirect 301 /portfolio/password-generator-screenshot.png /websites/password-generator-screenshot.png
Redirect 301 /lexus-kitchen https://kristianwindsor.com/blog/custom-built-kitchen-for-my-lexus/
Redirect 301 /redditbot https://kristianwindsor.com/blog/how-i-got-50k-clicks-for-free-using-reddit-and-chatgpt/

<IfModule mod_headers.c>
	<Files index.html>
		Header append Link "</style.css>; rel=preload; as=style"
		Header append Link "</img/logo.png>; rel=preload; as=image"
	</Files>
</IfModule>
