body {
  font-size: 20px;
  font-family: Helvetica,Arial,sans-serif;
  color: #5a5959;
  margin: 0;
}
a {
  text-decoration: none;
}
#hi {
  text-align: center;
  font-size: 40px;
  padding: 34vh 0;
}
.section {
  padding: 2vw;
  text-align: center;
}
.section:nth-child(even) {
  background-color: #F5F5F5;
}
.section-title {
  padding: 0 2vw;
}
.section-title a {
  font-size: 44px;
  color: #5a5959;
}
.section-title a:not(.no-link):hover {
  color: #00AFF0;
}
.section-content {
}
.item {
  width: 27vw;
  padding: 2vw;
}
#photo-of-me {
  width: 56vw;
  padding: 2vw;
}
#contact {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
}
#contact input, #contact textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0 35px;
  font-size: 18px;
  outline: 0;
  border: 1px #fff solid;
  background-color: #fff;
}
#contact input:hover, #contact textarea:hover {
  border: 1px #B3B3B3 solid;
}
#contact input:focus, #contact textarea:focus {
  border: 1px #5a5959 solid;
}
#bye {
  padding: 14vh 9vw;
  background-color: #333333;
  font-size: 16px;
}
.footer {
  display: inline-block;
  width: 32.5%;
}
.footer-title {
  text-align: center;
  color: #858585;
}
.links {
  text-align: center;
}
.links a {
  padding: 0 10px 0 10px;
  color: #cccccc;
}
.links a:hover {
  color: #ffffff;
  border-bottom: 1px solid;
}
@media (max-width: 1050px) {
  .item {
    width: 42vw;
  }
  #photo-of-me {
    width: 89vw;
  }
}
@media (max-width: 740px) {
  .item {
    width: 89vw;
  }
  .footer {
    width: 100%;
    padding: 2vh 0;
  }
  .section-title a {
    font-size: 36px;
  }
  #hi {
    font-size: 36px;
    padding: 28vh 4vh;
  }
  #bye {
    padding: 14vh 0;
  }
}
@media (max-width: 415px) {
  #hi {
    padding-top: 18vh;
  }
  .section {
    padding: 0;
  }
  .section-title {
    padding: 5vh;
  }
  .section-content {
    padding-bottom: 15px;
  }
  .item {
    width: 100%;
    padding: 0;
  }
  #photo-of-me {
    width: 100%;
    padding: 2vh 0;
  }
}