@import "var.scss";

#profile-photo {
  width: 18%;
}
#profile-photo img {
  display: block;
  width: 100%;
}
#profile-photo-mobile {
  display: none;
  width: 32%;
  float: left;
  margin: 15px 4% 0;
}
#about {
  width: 60%;
  padding: 1.5%;
}
#about a, #submitted a, #linkedIn a {
  border-bottom: 1px solid $blackText;
}
#about a:hover, #about .a-hovering, #submitted a:hover, #linkedIn a:hover {
  border-bottom: 0;
}