@import "var.scss";

.work {
  position: relative;
  margin: 2% 0;
}
.work>div {
  display: inline-block;
}
.work-dates {
  width: 195px;
  text-align: right;
}
.work-dates2 {
  display: none;
}
.work-icon {
  margin: 0 20px;
}
.icon-container {
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  background-color: $brandBlue;
  z-index: 101;
}
.work-icon i {
  margin: 0;
  color: $white;
  z-index: 101;
}
.icon-container:after {
  position: absolute;
  content: '';
  height: 120%;
  margin-left: -1px;
  border: 1px solid $brandBlue;
}
.icon-container.fade:after {
  height: 90%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #F5F5F5, #61cae9 25%) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, #F5F5F5, #61cae9 25%) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, #F5F5F5, #61cae9 25%) 1 100%;
  border-image: linear-gradient(to top, #F5F5F5, #61cae9 25%) 1 100%;
}
.icon-container:not(.fade):after {
  height: 120%;
}
.work .project {
  width: 33%;
  margin: 0;
  padding: 2%;
  color: $greyText;
}
.work img {
  width: 65px;
  float: right;
}
.employer-name {
  display: inline-block;
  margin: 0;
  font-size: 30px;
  color: $blackText;
}
.job-title {
  margin: 0 0 15px;
  font-size: 22px;
}
.job-desc {
  margin: 0;
  font-size: 16px;
}
#linkedIn {
  margin: 2% 0 0;
}