.work {
  position: relative;
  margin: 2%;
}
.work>div {
  display: inline-block;
}
.work-dates {
  width: 195px;
  text-align: right;
}
.work-dates2 {
  display: none;
}
.work-icon {
  margin: 0 20px;
}
.icon-container {
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  background-color: #61cae9;
  z-index: 101;
}
.work-icon i {
  margin: 0;
  color: #fff;
  z-index: 101;
}
.icon-container:after {
  position: absolute;
  content: '';
  height: 120%;
  margin-left: -1px;
  border: 1px solid #61cae9;
}
.icon-container.fade:after {
  height: 90%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #F5F5F5, #61cae9 25%) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, #F5F5F5, #61cae9 25%) 1 100%;
  -o-border-image: -o-linear-gradient(bottom, #F5F5F5, #61cae9 25%) 1 100%;
  border-image: linear-gradient(to top, #F5F5F5, #61cae9 25%) 1 100%;
}
.icon-container:not(.fade):after {
  height: 120%;
}
.work .project {
  width: 33%;
  margin: 0;
  padding: 2%;
}
.work img {
  width: 65px;
  float: right;
}
.employer-name {
  display: inline-block;
  margin: 0;
  font-size: 30px;
}
.job-title {
  margin: 0 0 15px;
  font-size: 22px;
  color: #7f7f7f;
}
.job-desc {
  margin: 0;
  font-size: 16px;
  color: #7f7f7f;
}
#linkedIn {
  margin: 2% 0 0;
}
@media (max-width: 1440px) {
  .work .project {
    width: 42%;
  }
}
@media (max-width: 1050px) {
  .work .project {
    width: 63%;
    padding: 4%;
  }
  .work-dates {
    width: 15%;
  }
}
@media (max-width: 750px) {
  .work .project {
    width: 73%;
  }
  .work .work-icon, .work .work-dates {
    display: none;
  }
  .work-dates2 {
    display: inline-block;
    margin: 5px 0;
    font-size: 18px;
    color: #7f7f7f;
  }
}
@media (max-width: 550px) {
  .work {
    margin: 0;
  }
  .project:nth-child(1), .work:nth-child(1) {
    margin-bottom: 4vh;
  }
  .work .project {
    width: 83%;
  }
}
@media (max-width: 490px) {
  .work .project {
    width: 100%;
  }
}
@media (max-width: 415px) {
  .employer-name, .project .title {
    font-size: 28px;
  }
  .work-dates2 {
    font-size: 16px;
  }
  #linkedIn {
    text-align: left;
  }
}