@import "var.scss";

#bye {
  padding: 12vh 0;
  background-color: $blackBackground;
  text-align: center;
}
#bye .icon {
  font-size: 38px;
}
.links a {
  display: inline-block;
  padding: 0 5px;
  color: $lightGreyText;
}
.links a:hover, .links .a-hovering {
  color: $white;
}