@media (max-width: 1440px) {
  .work .project {
    width: 42%;
  }
}
@media (max-width: 1050px) {
  #portfolio-section .project {
    width: 40%;
  }
  .work .project {
    width: 63%;
    padding: 4%;
  }
  .work-dates {
    width: 15%;
  }
  .contact {
    width: 49.5%;
    margin: 0;
  }
  #submitted {
    text-align: left;
  }
}
@media (max-width: 750px) {
  .section-content {
    padding: 0 10vw;
  }
  .project {
    width: 100% !important;
    margin: 0;
  }
  .mobile-padding {
    margin-bottom: 4vh;
  }
  #hi {
    font-size: 36px;
  }
  #profile-photo {
    display: none;
  }
  #profile-photo-mobile {
    display: inline;
  }
  .work .work-icon, .work .work-dates {
    display: none;
  }
  .work-dates2 {
    display: inline-block;
    margin: 5px 0;
    font-size: 18px;
  }
  #contact {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact {
    width: 100%;
  }
  #bye .icon {
    font-size: 28px;
  }
}
@media (max-width: 550px) {
  .section-content {
    padding: 0 5vw;
  }
  #nav {
    height: auto;
  }
  #logo1 {
    display: none;
  }
  #logo2 {
    display: block;
    width: 65px;
    margin: 0 auto;
    margin-bottom: 1.5vh;
  }
  #nav a {
    margin: 0 9px;
  }
}
@media (max-width: 490px) {
  #contact {
    margin: 0 0 3vw;
  }
  .contact:nth-child(1) {
    width: 100%;
  }
}
@media (max-width: 415px) {
  .section-title p {
    font-size: 36px;
  }
  .section-content {
    padding: 2%;
    padding-bottom: 15px;
  }
  #hi {
    font-size: 28px;
  }
  #nav a {
    font-size: 12px;
  }
  #profile-photo-mobile {
    width: 48%;
  }
  .employer-name, .title {
    font-size: 28px;
  }
  .work-dates2 {
    font-size: 16px;
  }
  #linkedIn {
    padding: 0 4%;
    text-align: left;
  }
  .big {
    font-size: 36px;
  }
}
@media (max-width: 340px) {
  #nav a {
    margin: 0 5px;
  }
}
