$white: #fff;
$greyBackground: #F5F5F5;
$blackBackground: #333;
$blackText: #5a5959;
$greyText: #7f7f7f;
$lightGreyText: #ccc;
$blueText: #00AFF0;
$brandBlue: #61cae9;
$contactFormGrey: #bbb;
$successGreen: #00f000;